*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
picture {
  display: block;
  max-width: 100%;
}

input,
button {
  font: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  font-weight: 400;
}

html {
  overflow-x: hidden;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-barlow);
  font-size: var(--font-size-200);
  min-height: 100vh;
  line-height: 1.5;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: hsl(var(--clr-light));
  text-rendering: optimizeSpeed;
  scroll-behavior: smooth;
}

/* Headings */
.primary-heading {
  font-family: var(--font-barlow-condensed);
  font-size: var(--font-size-300);
  text-transform: uppercase;
}

.background-dark {
  background-color: hsl(var(--clr-dark));
}

.background-light {
  background-color: hsl(var(--clr-light));
}

.background-white {
  background-color: hsl(var(--clr-white));
}

.text-dark {
  color: hsl(var(--clr-dark));
}

.text-light {
  color: hsl(var(--clr-light));
}

.text-white {
  color: hsl(var(--clr-white));
}

.uppercase {
  text-transform: uppercase;
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}

.letter-spacing-2 {
  letter-spacing: 2.7px;
}

.letter-spacing-3 {
  letter-spacing: 2.36px;
}

.font-bellefair {
  font-family: var(--font-bellefair);
}

.font-barlow {
  font-family: var(--font-barlow);
}

.font-barlow-condensed {
  font-family: var(--font-barlow-condensed);
}

.font-size-900 {
  font-size: var(--font-size-900);
}

.font-size-800 {
  font-size: var(--font-size-800);
}

.font-size-700 {
  font-size: var(--font-size-700);
}

.font-size-600 {
  font-size: var(--font-size-600);
}

.font-size-400 {
  font-size: var(--font-size-400);
}

.font-size-300 {
  font-size: var(--font-size-300);
}

.font-size-200 {
  font-size: var(--font-size-200);
}

.font-size-100 {
  font-size: var(--font-size-100);
}

.font-size-900,
.font-size-800,
.font-size-700,
.font-size-600 {
  line-height: 1.1;
}

:root {
  /* Colors*/
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;
  /* Font-families*/
  --font-bellefair: "Bellefair", serif;
  --font-barlow-condensed: "Barlow Condensed", sans-serif;
  --font-barlow: "Barlow", serif;
  /* Font-sizes*/
  --font-size-900: 4.5rem;
  --font-size-800: 3.5rem;
  --font-size-700: 1.5rem;
  --font-size-600: 1rem;
  --font-size-500: 1.75rem;
  --font-size-400: 1rem;
  --font-size-300: 1.25rem;
  --font-size-200: 1rem;
  --font-size-100: 0.875rem;
  /* Spacing */
  --container-gap: 1.75rem;
  --gap: 1rem;
}

@media (min-width: 32em) {
  :root {
    --font-size-700: 2.5rem;
    --font-size-600: 1.5rem;
    /*Spacing*/
    --gap: 1.25rem;
    --container-gap: 2rem;
  }
}
@media (min-width: 48em) {
  :root {
    --font-size-900: 7.25rem;
    --font-size-800: 6.25rem;
    --font-size-700: 3.5rem;
    --font-size-600: 2rem;
    --font-size-500: 1.75rem;
    --font-size-400: 1rem;
    --font-size-300: 1.75rem;
    --font-size-200: 1.125rem;
    --font-size-100: 0.9375rem;
    /*Spacing*/
    --gap: 1.5rem;
    --container-gap: 2.25rem;
  }
}
@media (min-width: 64em) {
  :root {
    --font-size-900: 9.375rem;
  }
}
.container {
  padding-inline: 2rem;
  margin-inline: auto;
  max-width: 80rem;
}

.grid-container {
  max-width: 80rem;
  padding-inline: 2rem;
  margin-inline: auto;
  min-height: 70vh;
  display: grid;
  gap: 4.5rem;
  place-items: center;
}

.flex {
  display: flex;
  gap: var(--gap);
}

.grid {
  display: grid;
  gap: var(--gap);
}

.header {
  padding: 2rem 1.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header__nav {
  position: fixed;
  inset: 0 0 0 25%;
  background-color: hsl(var(--clr-white)/0.05);
  backdrop-filter: blur(1.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(100%);
  transition: all 0.5s ease;
  /*Hiding Navigation */
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.nav-open .header__nav {
  opacity: 1;
  z-index: 10;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(0%);
}

.header__nav-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
}

.header__nav-link {
  display: block;
  color: hsl(var(--clr-light));
  font-size: var(--font-size-200);
  font-family: var(--font-barlow-condensed);
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  padding: 1.75rem 0;
  transition: all 0.3s ease;
  cursor: pointer;
}

.header__nav-link:hover {
  color: hsl(var(--clr-white));
}

.header__nav .header__link-number {
  font-size: var(--font-size-200);
  font-weight: 700;
  margin-right: 0.5rem;
}

.header__mobile-nav-toggle {
  background: url("/images/icons/icon-hamburger.svg") transparent no-repeat center;
  border: none;
  width: 2.4rem;
  height: 1.6rem;
  cursor: pointer;
  z-index: 999;
}

.nav-open .header__mobile-nav-toggle {
  background-image: url("/images/icons/icon-close.svg");
}

@media (min-width: 48em) {
  .header {
    padding: 0;
  }
  .header__logo-container {
    padding: 0 1.75rem;
  }
  .header__link-number {
    display: none;
  }
  .header__mobile-nav-toggle {
    display: none;
  }
  .header__nav {
    position: static;
    display: block;
    opacity: 1;
    padding: 0 3rem;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0%);
  }
  .header__nav-list {
    flex-direction: row;
    gap: 1.75rem;
  }
  .header__nav-link {
    display: block;
    color: hsl(var(--clr-white));
    font-size: var(--font-size-200);
    font-family: var(--font-barlow-condensed);
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    padding: 2.25rem 0;
    transition: all 0.3s ease;
  }
  .header__nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    bottom: 0;
    left: 0;
    border-bottom: 0.2rem solid hsl(var(--clr-white)/0.6);
  }
  .header__nav-link:hover::before,
.header__nav-link:focus::before {
    animation: border-animation 0.3s linear forwards;
  }
  .header__nav-link.active::before {
    border-bottom: 0.2rem solid hsl(var(--clr-white));
    animation: none !important;
    width: 100%;
  }
  @keyframes border-animation {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
}
@media (min-width: 64em) {
  .header {
    padding: 2rem 0 2rem 2rem;
    overflow: hidden;
  }
  .header__nav {
    padding-inline: 6rem;
  }
  .header__nav-list {
    gap: 3rem;
  }
  .header__logo-container {
    padding: 0;
  }
  .header__link-number {
    display: inline;
  }
}
.home-page {
  background-image: url("/images/home/background-home-mobile.jpg");
}

@media (min-width: 35em) {
  .home-page {
    background-image: url("/images/home/background-home-tablet.jpg");
  }
}
@media (min-width: 45em) {
  .home-page {
    background-image: url("/images/home/background-home-desktop.jpg");
  }
}
.hero-section {
  padding: 1rem 0;
}

@media (min-width: 32em) {
  .hero-section {
    padding: 1.5rem 0;
  }
}
@media (min-width: 48em) {
  .hero-section {
    padding: 2rem 0;
  }
}
.hero__text-box {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.hero-section-text {
  line-height: 2;
}

.hero__space-text {
  font-family: var(--font-bellefair);
  font-size: var(--font-size-900);
  text-align: center;
  display: block;
}

.hero__btn-wrapper {
  justify-self: center;
}

.hero__btn {
  position: relative;
  display: inline-grid;
  z-index: 1;
  place-items: center;
  text-decoration: none;
  border-radius: 50%;
  cursor: pointer;
  aspect-ratio: 1;
  padding: 3rem;
}

.hero__btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: hsl(var(--clr-white)/0.15);
  z-index: -1;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.hero__btn:hover::after,
.hero__btn:focus::after {
  transform: scale(1.5);
  opacity: 1;
}

@media (min-width: 35em) {
  .hero__text {
    padding: 0 3rem;
  }
}
@media (min-width: 45rem) {
  .hero {
    grid-template-columns: 1fr 1fr;
    justify-content: end;
  }
  .hero__btn-wrapper {
    justify-self: end;
  }
  .hero__text-content {
    text-align: left;
  }
  .hero__space-text {
    text-align: left;
  }
  .hero__btn {
    padding: 3rem;
  }
  .hero__text {
    padding: 0;
  }
}
@media (min-width: 55em) {
  .hero__btn {
    padding: 4rem;
  }
}
.destination-page {
  background-image: url(/images/destination/background-destination-mobile.jpg);
}

@media (min-width: 35em) {
  .destination-page {
    background-image: url(/images/destination/background-destination-tablet.jpg);
  }
}
@media (min-width: 45em) {
  .destination-page {
    background-image: url(/images/destination/background-destination-desktop.jpg);
  }
}
.destination {
  padding-inline: 1.5rem;
  grid-template-columns: 1fr;
  gap: var(--container-gap);
  position: relative;
}

.numbered-heading {
  font-family: var(--font-barlow-condensed);
  font-size: var(--font-size-300);
  text-transform: uppercase;
  color: var(--clr-white);
  text-align: center;
  letter-spacing: 4.72px;
}

.numbered-heading span {
  color: hsl(var(--clr-light)/0.5);
  margin-right: 1rem;
  font-weight: 700;
}

.destination__planet-wrapper {
  display: flex;
  justify-content: center;
  margin: 0.75rem;
}

.destination__planet-image {
  max-width: 80%;
  animation: spinning 120s infinite linear forwards;
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* destination Navigation */
.destination__nav {
  margin-bottom: 0.75rem;
}

.destination__nav-list {
  list-style: none;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
}

.destination__nav-link {
  display: block;
  color: hsl(var(--clr-light));
  font-size: var(--font-size-100);
  font-family: var(--font-barlow-condensed);
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  padding: 0.5rem 0;
  transition: all 0.4s ease;
}

.destination__nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  border-bottom: 3px solid hsl(var(--clr-light));
}

.destination__nav-link.active-link {
  color: hsl(var(--clr-white));
}

.destination__nav-link:hover::before {
  animation: border-animation-secondary 0.8s linear forwards;
}

.destination__nav-link.active-link::before {
  animation: none !important;
  width: 100%;
}

@keyframes border-animation-secondary {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.destination__description {
  text-align: center;
  flex-direction: column;
  gap: var(--gap);
  display: flex;
}

.horizontal-line {
  height: 1.25px;
  margin: 1rem 0;
  width: 90%;
  background-color: hsl(var(--clr-light)/0.3);
  margin-inline: auto;
}

.destination__distance,
.destination__travel-time {
  font-family: var(--font-bellefair);
  font-size: var(--font-size-500);
  color: hsl(var(--clr-white));
  text-transform: uppercase;
}

.destination__distance-label,
.destination__time-label {
  font-size: var(--font-size-100);
  text-transform: uppercase;
}

.destination__details-wrapper {
  grid-template-columns: 1fr;
}

@media (min-width: 35em) {
  .destination__details-wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .destination__description {
    padding: 0 3rem;
  }
  .destination__nav-list {
    gap: 1.5rem;
  }
}
@media (min-width: 45em) {
  .destination {
    grid-template-columns: 1fr 1fr;
  }
  .destination__description {
    padding: 0;
  }
  .destination__heading-wrapper {
    justify-self: left;
  }
  .destination__heading-wrapper {
    grid-column: span 2;
  }
  .destination__nav-list {
    list-style: none;
    display: flex;
    gap: 1.75rem;
    justify-content: left;
  }
  .destination__planet-image {
    max-width: 92%;
  }
  .destination__description {
    text-align: left;
  }
}
@media (min-width: 65em) {
  .destination__planet-image {
    max-width: 100%;
  }
}
.crew-page {
  background-image: url(/images/crew/background-crew-mobile.jpg);
}

@media (min-width: 35em) {
  .crew-page {
    background-image: url(/images/crew/background-crew-tablet.jpg);
  }
}
@media (min-width: 45em) {
  .crew-page {
    background-image: url(/images/crew/background-crew-desktop.jpg);
  }
}
.crew {
  padding-inline: 1rem;
  min-height: 70vh;
  gap: var(--container-gap);
}

.crew__image-wrapper {
  color: var(--clr-white);
  grid-row: 2;
  display: flex;
  justify-content: center;
  transform: translateY(1rem);
}

.crew__image {
  max-width: 50%;
}

.crew__content {
  display: grid;
}

.crew__person-post {
  color: hsl(var(--clr-white)/0.6);
  font-size: var(--font-size-600);
  text-transform: uppercase;
  font-family: var(--font-bellefair);
}

.crew__nav-list {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.crew__nav-link {
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: hsl(var(--clr-white)/0.2);
  border-radius: 50%;
  transition: all 0.3s ease;
}

.crew__nav-link.active-link {
  background-color: hsl(var(--clr-white));
}

.crew__nav-link:hover {
  background-color: hsl(var(--clr-white)/0.75);
}

.crew__text-content {
  text-align: center;
  flex-direction: column;
  gap: var(--gap);
}

.crew__person-bio {
  line-height: 2;
}

@keyframes text-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (min-width: 35em) {
  .crew__image-wrapper {
    grid-row: 3;
  }
  .crew-hero {
    padding-bottom: 0;
  }
  .crew {
    padding-inline: 5rem;
  }
  .crew__image {
    max-width: 70%;
  }
}
@media (min-width: 55em) {
  .crew {
    grid-template-columns: 1fr 1fr;
    padding-inline: 1rem;
  }
  .crew__nav-list {
    justify-content: left;
  }
  .crew__text-content {
    text-align: left;
  }
  .crew-hero .destination__heading-wrapper {
    grid-column: span 2;
  }
  .crew__image-wrapper {
    grid-column-start: 2;
    grid-row-start: 2;
  }
  .crew__image {
    max-width: 100%;
  }
  .destination__content {
    display: grid;
  }
  .crew__nav {
    grid-row: 3;
    margin-top: 4rem;
  }
}
.technology-page {
  background-image: url("/images/technology/background-technology-mobile.jpg");
}

@media (min-width: 35em) {
  .technology-page {
    background-image: url("/images/technology/background-technology-tablet.jpg");
  }
}
@media (min-width: 45em) {
  .technology-page {
    background-image: url("/images/technology/background-technology-desktop.jpg");
  }
}
.technology {
  padding-inline: 0 !important;
  gap: var(--container-gap);
}

.technology__nav-list {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  margin-bottom: 1.5rem;
}

.technology__nav-link {
  color: hsl(var(--clr-white));
  font-size: var(--font-size-600);
  text-decoration: none;
  width: 0.5rem;
  height: 0.5rem;
  padding: 1.25rem;
  border-radius: 50%;
  background-color: hsl(var(--clr-dark));
  border: 1.75px solid hsl(var(--clr-white)/0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.technology__nav-link.active-link {
  background-color: hsl(var(--clr-white));
  color: hsl(var(--clr-dark));
}

.technology__nav-link:hover {
  border-color: hsl(var(--clr-white));
}

.technology__text-content {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  text-align: center;
  padding: 0 1rem;
}

.technology__text-content {
  display: flex;
}

.technology__terminology-text {
  color: hsl(var(--clr-white)/0.7);
}

.technology__image-wrapper {
  grid-row: 2;
}

@media (min-width: 45em) {
  .technology {
    grid-template-columns: 1fr 1fr;
  }
  .technology__image-wrapper {
    grid-column: 2;
  }
  .technology__nav-list {
    justify-content: left;
  }
  .technology__nav-link {
    padding: 1.5rem;
  }
  .technology__text-content {
    text-align: left;
  }
}
@media (min-width: 55em) {
  .technology {
    grid-template-columns: 55fr 45fr;
  }
  .technology__content {
    display: flex;
  }
  .technology__nav-list {
    flex-direction: column;
  }
  .technology__nav-link {
    padding: 2rem;
  }
  .technology__nav-list {
    margin-right: 2rem;
    margin-bottom: 0;
    align-items: center;
    gap: 2.75rem;
  }
}

/*# sourceMappingURL=main.css.map */
